html, body{
    height:100%;
    width: 100%;
    margin: 0px;
    font-family: system-ui, Roboto;
    background-color: #eaeaea;
}
body{
    margin-top: 80px;
}
p{
    margin: 0px;
}
#notFound{
    font-size: 40px;
    margin-top: 214px;
    margin-bottom: 250px;
}
#content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 150px;
    padding-bottom: 150px;
}
#content2{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitButton{
    border: none;
    cursor: pointer;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #254598;
    color:white;
    border-radius: 15px;
    font-size: 40px;
    box-shadow: 3px 3px 8px 0px rgb(138, 137, 137);
    transition-property: background-color;
    transition-duration: 0.2s; 
}
.submitButton:hover{
    background-color: #1f3a7f;
}
.submitButton:active{
    border: none;
}
#tabHead{
    background-color: #254598;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    width: 70%;
    height:70px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px 0px rgb(138, 137, 137);

}
.reservationContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    width: 70%;
    background-color: white;
    box-shadow: 3px 3px 8px 0px rgb(138, 137, 137);
}
.reservation{
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
}
#nomHead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:30%;
    height: 100%;
    border-right: 2px solid white;
}
#nom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:30%;
    height: 100%;
    border-right: 2px solid #254598;
}
#referenceHead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:10%;
    height: 100%;
    border-right: 2px solid white;
}
#reference{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:10%;
    height: 100%;
    border-right: 2px solid #254598;
}
.dateHead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:20%;
    height: 100%;
    border-right: 2px solid white;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:20%;
    height: 100%;
    border-right: 2px solid #254598;
}
#numeroHead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:15%;
    height: 100%;
    border-right: 2px solid white;
}
#numero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:15%;
    height: 100%;
    border-right: 2px solid #254598;
}
#statutHead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:25%;
    height: 100%;
}
#statut{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:25%;
    height: 100%;
}
.details{
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding: 0px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-bottom: 1px solid #254598;
    color: #254598;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.details:hover{
    color: #1f3a7f;
}
#pagination{
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
}
.pagiButton{
    cursor: pointer;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    background-color: #254598;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px 8px 0px rgb(138, 137, 137);
    transition-property: background-color;
    transition-duration: 0.2s;
}
.pagiButton:hover{
    background-color: #1f3a7f;
}